/* Icons */

/* Microphone: <i class="fa-solid fa-microphone"></i>
Microphone slash: <i class="fa-solid fa-microphone-slash"></i>
Video: <i class="fa-solid fa-video"></i>
User plus: <i class="fa-solid fa-user-plus"></i>
User group: <i class="fa-solid fa-user-group"></i>
Chart column: <i class="fa-solid fa-chart-column"></i>
Share from square: <i class="fa-solid fa-share-from-square"></i>
Chevron up: <i class="fa-solid fa-chevron-up"></i>
Chat: <i class="fa-solid fa-comment"></i>
Record: <i class="fa-solid fa-record-vinyl"></i>
Table: <i class="fa-solid fa-table-cells-large"></i>
Circle: <i class="fa-solid fa-period"></i> */
/* Table 2: <i class="fa-solid fa-table-cells"></i>
Maximize: <i class="fa-solid fa-maximize"></i> */


/* Variables */
:root {
    --black: #000000;
    --green: #47C305;
    --dark-gray: #222222;
    --red: #DC1C18;
    --white: #FFFFFF;
    --lighter-gray: #4A4A4A;
    
}



/* Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    color: var(--white);
}

i {
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white)
}

img {
    max-width: 100%;
}

/* Utility */

.flex {
    display: flex;
}

.unstyled {
    list-style: none;
}

.fl_col {
    flex-direction: column;
    text-align: center;
}

.fs_20 {
    font-size: 20px;
}

.rg_10{
    row-gap: 10px;
}

.cg_20 {
    column-gap: 20px;
}


/* Main */
main {
    height: calc(100vh - 100px);
    background-color: var(--black);
}

.view {
    font-size: 20px;
    position:fixed;
    top:15px;
    right: 15px;
    column-gap: 10px;
}

.view .icon {
    background-color: #4A4A4A;
    padding: 10px;
    border-radius: 10px;
}

.album {
    margin:auto;
    width: 90vw;
    height: calc(100vh - 250px);
    flex-wrap: wrap;
}

/* .album {
    width: calc(100% / 7)
} */

.icon_40 {
    font-size: 40px;
}

.mute_user {
    position: absolute;
    left: 0;
    bottom: 0;
}

.mute_user .icon {
    padding: 5px;
    background-color: #4a4a4a8f;
}

.card {
    width: calc(100% / 7 - 35px);
    height: calc(100% / 5 - 100px);
    position: relative;
    background-image: url(https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY);
    background-size: cover;
}


    



/* Footer */

footer {
    height: 100px;
    background-color: var(--dark-gray);
    justify-content: space-between;
}

.audio_video {
    width: 10%;
    margin-left: 10px;
}

.main_menu {
    width: 80%;
    justify-content: center;
}

.end_meeting {
    width: 10%;
    color: var(--red);
    background-color: var(--lighter-gray);
    font-weight: bold;
    justify-content: center;
}


.audio_video,.main_menu, .end_meeting {
    height: 100%;
    align-items: center;
}

.share i {
    color: var(--green);
}


